.search-form {
    position: relative;
    margin-bottom: 40px;
    margin-top: 40px;
    color: var(--text-color-two);
}

.userInput {
    color: inherit;
    background-color: var(--app-bg);
    border: none;
    width: 100%;
    padding: 20px 50px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    font-family: inherit;
    font-size: 20px;
}

.searchIcon,
.searchButton {
    position: absolute;
    top: 25%;
}

.searchIcon {
    left: 10px;
    top: 30%;
}

.searchButton {
    right: 20px;
    font-size: 18px;
    border: none;
    background-color: #007eff;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: var(--text-color-two);
    cursor: pointer;
}
.searchButton:hover {
    background-color: #0056b3;
}